{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

<form action="/sell" method="post">
<label for="symbol">Stock to sell:</label>
<select class="form-select form-select-sm" name="symbol">
    {% for stock in stocks %}
    <option name="symbol" value="{{stock['stock_symbol']}}">{{stock["stock_symbol"]}}</option>
    {% endfor %}
</select>
<input type="number" step="1" name="shares" min="1" placeholder="Quantity">
<button type="submit">Submit</button>
</form>
{% endblock %}